// Place all the styles related to the Priorities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 70px; }

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

#map {
  height: 300px;
}

.modal {
  z-index: 100;
  padding-top: 100px;
}

.modal-backdrop {
  z-index: 30;
}

tr {
  height: 27px;
}

td {
  padding-bottom: 13px !important;
  padding-top: 13px !important;
}

th {
  height: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 0 1px;
}

.inputField {
  border: 2px !important;
}